---
layout: category
category: info-sessions
title: Info Sessions
has-subcategories: true
---

<div class="column col-12">
          <div class="card">
            <div class="card-body">
                <!-- {% if site.use_authors == true %}
                {% assign post_author = site.data.authors[page.author] %}
                <div class="flex-vertical-center mb-4">
                  <figure class="avatar d-inline-block" style="align-items: center;">
                    <img  src="../assets/{{ post_author.image }}" alt="...">
                  </figure>
                  <div class="ml-2">
                    <p class="text-dark text-small mb-0">Written by <span class="text-primary">{{ post_author.name }}</span></p>
                    <p class="text-dark text-small text-italic mb-0">{% include reading-time.html %}</p>
                  </div>
                </div>
                {% else %}
                <div class="ml-2">
                    <p class="m-0 text-small">Last updated:</p>
                    <p class="text-dark text-small text-italic mb-0">{{ page.last_modified_at | date: '%B %d, %Y'  }} - {% include reading-time.html %}</p>
                  </div>
                {% endif %} -->

              	<h5>What's happening after we submit?</h5>
              	<p>Although you'll stop working on your math modeling papers by 10AM on April 25th, the fun doesn't stop there! From then until our Awards Ceremony at 6:30 PM, we will be hosting info sessions about the schools hosting this event: WPI and the Massachusetts Academy of Math and Science! This is a great opportunity to meet the people behind M<sup>3</sup>J, get some tips about college, and gain more exposure to STEM.</p>
              	<p>While these info sessions are not mandatory nor necessary, we hope you come to at least one! Please see below for a quick summary about each info session. All info sessions will be recorded and later made publicly available if you cannot attend.</p>
              	<p><strong>Note that your info session attendance has no impact on your team's standing or final judging during the jam.</strong></p>


            </div>
          </div>
        </div>
