---
layout: default
category: overview
title: Overview
date:
author:
short-description:
---
{% include header.html %}

{% assign page_category = site.data.category_list[page.category] %}


<div class="container-full">
    <div class="container grid-xl">
      <div class="mt-12 show-md"></div>
      <div class="mt-8"></div>
      <div class="columns negative-m-xl">
        <div class="column col-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ site.url }}{{ site.baseurl }}">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="../{{ page.category }}">{{ page_category.name }}</a>
            </li>
            <!-- <li class="breadcrumb-item">
              <a href="#">{{ page.title }}</a>
            </li> -->
          </ul>
          <h2 class="text-light text-bold">{{ page.title }}</h2>
          <p class="text-light mb-0">{{ page.short-description }}</p>
        </div>
        <div class="column col-12">
          <div class="card">
            <div class="card-body">
                <!-- {% if site.use_authors == true %}
                {% assign post_author = site.data.authors[page.author] %}
                <div class="flex-vertical-center mb-4">
                  <figure class="avatar d-inline-block" style="align-items: center;">
                    <img  src="../assets/{{ post_author.image }}" alt="...">
                  </figure>
                  <div class="ml-2">
                    <p class="text-dark text-small mb-0">Written by <span class="text-primary">{{ post_author.name }}</span></p>
                    <p class="text-dark text-small text-italic mb-0">{% include reading-time.html %}</p>
                  </div>
                </div>
                {% else %}
                <div class="ml-2">
                    <p class="m-0 text-small">Last updated:</p>
                    <p class="text-dark text-small text-italic mb-0">{{ page.last_modified_at | date: '%B %d, %Y'  }} - {% include reading-time.html %}</p>
                  </div>
                {% endif %}-->



			<!-- i'm sorry for the hardcoding ;-; -->
              <p>Do you like to have fun? Do you like math and problem solving? Bring some friends (and some bread) and join us for our first annual online math modeling jam! Through workshops that'll introduce you to topics such as data visualization in Python and problem solving through math modeling, your group will be able to design and develop a model of your own. Each group will address a real-world problem using data analysis and math. Join us from April 24th to April 25th for the Massachusetts Math Modeling Jam! </p>
              <p>MMMJam is a free math modeling experience hosted by students from Mass Academy at WPI. It'll be hosted over Zoom from April 24th to April 25th. You can register alone or with a group of 3-4 people. We will host additional workshops in the weeks leading up to the jam; the competition is 24 hours on the weekend. You're not required to have any background knowledge of math modeling or any other tools, and our team is working on getting some helpful resources to help you along the way.</p>
              <p>We hope that the event is not only a fun way to bring middle school and young high school students across the state together during the pandemic, but a learning experience for everyone.</p>

            </div>
          </div>
        </div>
        {% include more-help.html %}
      </div>
    </div>
  </div>
  
</div>