<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      {% include nav.html %}
      <header class="container grid-xl landing-header" style="padding-top: 0px;">
      <style>
      .register:hover {
    	text-decoration: underline;
  		}
      </style>
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto text-center">
            <h1 class="mt-2 super-h1" style="font-size: 55px">2021 Massachusetts</h1>
            <h1 class="mt-2 super-h1"style="font-size: 55px">Math Modeling Jam</h1>
            <!-- <h4 class="text-secondary">{{ site.subheader }}</h4> -->
            <br><br><br>
            <h4 class="text-secondary">What is M<sup>3</sup>J?</h4>
          <h5 class="text-secondary" style="opacity: 0.8">M<sup>3</sup>J is a <strong>free</strong> math modeling experience hosted over Zoom from <strong>April 24th</strong> to <strong>April 25th.</strong></h5>
          <br>
          <h4 class="text-secondary">Do I need prior experience with math modeling?</h4>
          <h5 class="text-secondary" style="opacity: 0.8">Not at all! We have resources to help you learn along the way.</h5>
          <br>
          <h4 class="text-secondary"><a class="register" href="http://wpi.qualtrics.com/jfe/form/SV_4JBDYhsAq8jDWzI" style="color:white;opacity: 0.8" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.8'">Register now!</a></h4>
          <br>
          </div>
         </div>
      </header>
    </div>
  </div>
</div>