table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-shadow:none;
}

td {
    text-align: center;
    vertical-align: middle;
}

.profile {
    height: 200px; 
    width:200px; 
    border-radius: 50%;
}

