table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-shadow:none;
}

td {
    text-align: center;
    vertical-align: middle;
}

.profile {
    height: 35.587188612099645vh;
    width:15.67398119122257vw; 
    border-radius: 50%;
}

/* .responsive{
    max-height: auto; 
    max-width: 100%; 
    border-radius: 50%;
    padding-top: 100%;
} */
